.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  text-decoration: none;
  color: #272727;
  border: 3px solid #272727;
  font-size: 40px;
  font-family: sans-serif;
  padding: 30px 50px;
  position: relative;
  overflow: hidden;
  transition: all 1s;
  margin: 2%;
  letter-spacing: 5px;
}

a:hover {
  border-color: crimson;
}

.first:hover {
  color: white;
}

.first:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: crimson;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition: transform 1s;
}

.first:hover:before {
  transform: rotate(0deg);
}

.second:hover {
  color: white;
}

.second:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: crimson;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: width 1s;
}

.second:hover:before {
  width: 100%;
}

.third:hover {
  color: white;
}

.third:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  transform: rotateX(90deg);
  z-index: -1;
  transition: all 1s;
}

.third:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  transform: rotateY(90deg);
  z-index: -1;
  transition: all 1s;
}

.third:hover:before {
  transform: rotateX(0deg);
}

.third:hover:after {
  transform: rotateY(0deg);
}

.forth {
  letter-spacing: -4px;
  padding: 30px 50px;
  letter-spacing: 5px;
}

.forth:hover {
  letter-spacing: 10px;
  font-weight: bold;
  padding: 30px 50px;
  border: 4px solid crimson;
  color: crimson;
}

.fifth:before {
  content: "YEAH!";
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: transform 1s, letter-spacing 2s 0.25s;
}

.fifth:hover:before {
  transform: translateY(0%);
  letter-spacing: 10px;
}

.sixth:hover {
  background-color: crimson;
  color: white;
}

.sixth:before {
  content: "";
  width: 100%;
  height: 50%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s;
}

.sixth:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.seventh {
  color: transparent;
  transition: all 0s;
  background-color: crimson;
}

.seventh:hover {
  border: 3px solid black;
}

.seventh:before {
  content: "HOVER ME";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272727;
}

.seventh:hover:before {
  transform: translate(100%, -100%);
}

.seventh:after {
  content: "HOVER ME";
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-100%, 100%);
  color: #272727;
}

.seventh:hover:after {
  transform: translate(0%, 0%);
}

.eighth {
  border: none;
  color: white;
  overflow: visible;
}

.eighth:hover {
  color: #272727;
}

.eighth:before {
  content: "";
  position: absolute;
  top: -5%;
  left: -3%;
  height: 100%;
  width: 100%;
  transform: scale(1.025, 1.05);
  background-color: rgb(16, 250, 238);
  transition: all 0.2s;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: top;
}

.eighth:hover:before {
  top: 0;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.eighth:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 3%;
  height: 100%;
  width: 100%;
  transform: scale(1.025, 1.05);
  background-color: crimson;
  transition: all 0.2s;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: bottom;
}

.eighth:hover:after {
  top: 0;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

.ninth {
  background-color: white;
  overflow: visible;
}

.ninth:before {
  content: "HOVER ME";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: palevioletred;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ninth:hover:before {
  transform: rotateX(0deg);
}

.ninth:after {
  content: "HOVER ME";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: crimson;
  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.ninth:hover:after {
  transform: rotateX(0deg);
}

.tenth {
  overflow: visible;
  transition: transform 0.5s, opacity 0.5s 5s;
  color: crimson;
  background-color: crimson;
}

.tenth:hover {
  border: 3px solid #272727;
}

.tenth:before {
  content: "HOVER ME";
  color: #272727;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.tenth:hover:before {
  transform: scale(0) rotateY(360deg);
  left: 100%;
  opacity: 0;
}

.tenth:after {
  content: "HOVER ME";
  color: #272727;
  position: absolute;
  top: 0%;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotateY(0deg);
  transition: all 1s;
  opacity: 0;
}

.tenth:hover:after {
  transform: scale(1) rotateY(360deg);
  left: 0%;
  opacity: 1;
}

.eleventh:hover {
  color: white;
}

.eleventh:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: crimson;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  transition: all 1s;
}

.eleventh:hover:before {
  height: 190%;
}

.twelfth:hover {
  color: white;
}

.twelfth:before,
.twelfth:after,
.twelfth span:before,
.twelfth span:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: crimson;
  transition: all 0.3s;
  z-index: -1;
}

.twelfth:before {
  top: 0%;
  left: -25%;
}

.twelfth:hover:before {
  top: 0%;
  left: 0%;
}

.twelfth:after {
  top: -100%;
  left: 25%;
}

.twelfth:hover:after {
  top: 0%;
  left: 25%;
}

.twelfth span:before {
  top: 100%;
  right: 25%;
}

.twelfth:hover span:before {
  top: 0%;
  right: 25%;
}

.twelfth span:after {
  top: 0%;
  right: -25%;
}

.twelfth:hover span:after {
  top: 0%;
  right: 0%;
}

.thirteenth {
  overflow: visible;
}

.thirteenth:hover {
  background-color: rgba(220, 20, 60, 0.596);
  color: white;
  border: dashed crimson;
}

.thirteenth:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transition: all 0.3s;
  z-index: 2;
}

.thirteenth:hover:before {
  font-weight: bold;
}

.fourteenth {
  border: hidden;
  overflow: visible;
}

.fourteenth:before,
.fourteenth:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 0%;
  background-color: #272727;
  transform-origin: center;
  transition: all 1s;
  visibility: hidden;
}

.fourteenth span:before,
.fourteenth span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #272727;
  transform-origin: center;
  transition: all 1s 1s;
  visibility: hidden;
}

.fourteenth:before {
  top: 0px;
  left: -3px;
}

.fourteenth:after {
  bottom: 0;
  right: -3px;
}

.fourteenth span:before {
  top: -3px;
  right: 0px;
}

.fourteenth span:after {
  bottom: -3px;
  left: 0;
}

.fourteenth:hover:before {
  visibility: visible;
  height: calc(100% + 3px);
}

.fourteenth:hover:after {
  visibility: visible;
  height: calc(100% + 3px);
}

.fourteenth:hover span:before {
  visibility: visible;
  width: calc(100% + 3px);
}

.fourteenth:hover span:after {
  visibility: visible;
  width: calc(100% + 3px);
}

.fifteenth {
  border: none;
}

.fifteenth:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(220, 20, 60, 0.397);
  transition: all 1s;
}

.fifteenth:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(220, 20, 60, 0.397);
  transition: all 1s;
}

.fifteenth span:before,
.fifteenth span:after {
  content: "";
  position: absolute;
  transition: all 1s;
  background-color: crimson;
}

.fifteenth span:before {
  bottom: 0%;
  right: 50%;
  width: 0%;
  height: 3px;
}

.fifteenth span:after {
  bottom: 0%;
  left: 50%;
  width: 0%;
  height: 3px;
}

.fifteenth:hover:before,
.fifteenth:hover:after {
  width: 0%;
}

.fifteenth:hover span:before {
  width: 25%;
  background-color: crimson;
}

.fifteenth:hover span:after {
  width: 25%;
  background-color: crimson;
}

.sixteenth {
  transition: all 2s;
}

.sixteenth:hover {
  color: white;
}

.sixteenth .fire {
  position: absolute;
  top: calc(100% + 105px);
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #310208;
  mix-blend-mode: multiply;
  transition: all 2s;
  z-index: -1;
}

.sixteenth:hover .fire {
  top: 0;
}

.sixteenth .fire:before {
  content: "";
  position: absolute;
  top: -105px;
  left: 0%;
  width: 100%;
  height: 105px;
  background: url("./assets/fire.png");
  animation: fire 0.5s linear infinite;
  mix-blend-mode: multiply;
  z-index: -1;
}

@keyframes fire {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 201px;
  }
}
