@font-face {
  font-family: "mexcellent3d";
  src: url("./assets/fonts/mexcellent3d.otf");
}

* {
  font-family: "consolas";
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
